rules_version = '2';
service firebase.storage {
  function isAdmin(email) {
  	return email in ["wmilosz88@gmail.com", "ecofirma.kmiec@gmail.com"];
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if isAdmin(request.auth.token.email);
    }
  }
}
