rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isAdmin(email) {
    	return email == "wmilosz88@gmail.com";
    }

    match /{document=**} {
    	allow read, write: if isAdmin(request.auth.token.email);
    }

    match /announcements/{document=**} {
      allow read: if request.auth.uid == 'anonymous-account';
    }
  }
}
